.RData
.Rhistory
*.results
.png
.mov
*cache/
presentations/
movies/
summer_credit_pool_app/
.Rproj.user
packrat/lib*/
experiments/
.DS_store
*.icloud
.httr-oauth

*.feather

*.tmp
# Word temporary
~$*.doc*
# Excel temporary
~$*.xls*
# Excel Backup File
*.xlk
# PowerPoint temporary
~$*.ppt*
